{% extends "base.html" %}

{% block banner %}

{% endblock %}

{% block content %}
	<div class="homePageContent">
		<!-- POST TITLE -->
		<div class="row">
			<div class="col-md-9">
				<h1 class="page-header">Basic 3x3 Videos</h1>

				<h3>First Layer - CROSS</h3>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WzE7SyDB8vA" allowfullscreen></iframe>
				</div>

				<h3>First Layer - Corners</h3>				
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WzE7SyDB8vA" allowfullscreen></iframe>
				</div>

				<h3>Second Layer</h3>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WzE7SyDB8vA" allowfullscreen></iframe>
				</div>

				<h3>OLL</h3>
				<p>Orientation of Last Layer</p>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WzE7SyDB8vA" allowfullscreen></iframe>
				</div>


				<h3>PLL</h3>
				<p>Permutation of Last Layer</p>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WzE7SyDB8vA" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block tags %}
	{% for tag in tags %}
		<span class="glyphicon glyphicon-tags">{{tag.name}}</span>
	{% endfor %}
{% endblock %}
