{% extends "base.html" %}

{% block title %}
	Contact - {{block.super}}
{% endblock %}

{% block banner %}

{% endblock %}


{% block content %}
	<div class="homePageContent">
		<p><<< <a href="#" onclick="goback()">Go Back</a></p>
			<h1 class="page-header">Submit Feedback</h1>
			{# If any field errors exist, show them in this common place. #}

			{{ form.non_field_errors }}
			
			{% for msg in messages %}
				<div class="alert alert-success">
					<strong>Success!</strong> Your Valuable Feedback Sent.
				</div>
			{% endfor %}
			
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
			<label for="id_name">Your Name</label>
			{{ form.name.errors }}
			{% if form.name.value %}
				<input class="form-control" name="name" type="text" id="id_name" placeholder="Enter your name" value="{{form.name.value}}" required="required">
			{% else %}
				<input class="form-control" type="text" name="name" id="id_name" placeholder="Enter your name" required="required">
			{% endif %}
			</div>

			<div class="form-group">
			<label for="id_email">Email address</label>
			{{ form.email.errors }}
			<input type="email" name="email" class="form-control" id="id_email" aria-describedby="emailHelp" placeholder="Enter your email" required="required">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<div class="form-group">
			<label for="id_subject">Subject</label>
			{{ form.subject.errors }}
			<input type="text" name="subject" class="form-control" id="id_subject" placeholder="Subject to message" required="required">
			</div>
			
			<div class="form-group">
			<label for="id_message">Message</label>
			{{ form.message.errors }}
			<textarea class="form-control" name="message" id="id_message" required="required" rows="3"></textarea>
			</div>

			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
{% endblock %}
