{% extends "base.html" %}

{% block title %}
	{{block.super}}
{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
	<div class="homePageContent">
		<p><<< <a href="#" onclick="goback()">Go Back</a></p>


		<h1 class="page-header">Posts having Tags: {{tag.name}}</h1>

		{% if posts %}
			{% for post in posts %}
			<h1>
				<a href="{{post.get_absolute_url}}">{{post.title|capfirst}}</a>
			</h1>

		<!-- TIME AND PUBLISH -->
			<i class="bg-info timestamp">
			<span class="glyphicon glyphicon-time"></span> Published:
			<b>{{post.pub_date}}</b>, By: <span class="glyphicon glyphicon-user"></span> <b>{{post.author.name|capfirst}}</b></i>
			<p>{{post.content|safe|truncatewords_html:50}}</p>


			{% if post %}
				<a class="btn btn-primary" href="{{post.get_absolute_url}}">Read More</a>
			{% endif %}


			{% endfor %}

		{% else %}
			<h2> Sorry no posts related to tag : {{tag.name}}</h2>
		{% endif %}

	</div>
{% endblock %}