<!-- Footer -->
<footer class="page-footer blue center-on-small-only">
	<!-- Footer Links -->
	<div class="container-fluid">
		<div class="row">
			<!-- First Column -->
			<div class="col-md-6">
				<h4 class="title">Terms of use</h4>
				<p>This site is made with intention to provide simple understanding to solve the Rubik's cube and not to post any illegal content. All the content provided in these posts are meant for users and some of the resources are taken from the web to make things easier.</p>
			</div>
			<!-- /.End of First column -->

			<!-- Second Column -->
			<div class="col-md-6 secondFootCol">
				<h4 class="title">NAVIGATE</h4>
				<ul>
					<li><a href="{% url 'post_list' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
					<li><a href="{% url 'basicCubing' %}">Basic cubing</a></li>
					<li><a href="{% url 'advancedCubing' %}">Advanced cubing</a></li>
				</ul>
			</div>
			<!-- /. End of Second Column -->
		</div>
	</div>
	<!-- /.End of Footer Links -->

	<!-- Copy rights -->
	<div class="footer-copyright">
		<div class="container-fluid">
			&copy; Copy right <a href="https://www.howtorubik.herokuapp.com">howtorubik.com</a>
		</div>
	</div>
	<!-- /.End of Copy rights -->
</footer>
<!-- /. End of the Footer -->